// Abstracts
@import './abstracts/mixins';
@import './abstracts/variables';

// Helpers
@import './helpers/reset';
@import './helpers/helpers';

// Buttons
@import './buttons/buttons';

// Typo
@import './typography/typography';

// Pages
@import './pages/contact-us';

// Layout
@import './layout/layout';

// Partials
@import './partials/navigation';
@import './partials/advantages';
@import './partials/services';
@import './partials/feature-label';
@import './partials/orange';
@import './partials/cover';
@import './partials/footer';
@import './partials/customer-cases';
@import './partials/modal';
@import './partials/testimonials';
@import './partials/contact-section';
@import './partials/contact-form';

// Single
@import './single/contact-completed';

html {
    background: var(--main-background);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.brand-color {
    color: var(--brand-color);
}
