.feature-label {
    position: absolute;
    display: flex;
    height: 64px;
    width: fit-content;
    align-items: center;
    gap: 18px;
    left: 20%;
    top: 30%;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #EAECF0;
    padding: 18px;
    border-radius: 12px;
    transform: translateY(28px) scale(0.6);
    opacity: 0;
    transition: all .8s ease-out;
    color: var(--text-color-medium);
    font-size: 14px;

    &.show {
        opacity: 1;
        transform: translateY(0);
    } 

    @include respond-to(768) {
        display: none;
    }
}
