$text-font-stack: "Montserrat", sans-serif;
$footer-font-stack: "Inter", sans-serif;

:root {
  --brand-color: #ff692e;
  --text-color-dark: #1d2939;
  --text-color-light: #667085;
  --text-color-medium: #475467;
  --cta-color: #6172f3;
  --focus-ring-color: #7dadd9;
  --warn-color: #f44336;
  --main-background: #f8f9fc;
}
